@font-face {
    font-family: 'roboto'; /*a name to be used later*/
    src: url('./fonts/roboto.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'opensans'; /*a name to be used later*/
    src: url('./fonts/opensans.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'robobold'; /*a name to be used later*/
    src: url('./fonts/robobold.ttf'); /*URL to font*/
}

body {
    margin: 0;
}

button:focus {outline:0;}

.container-main{
    background: black;
    color: white;
    /*height: auto;*/
    overflow: hidden;
    width: 100%;
    height:100vh;
    background-image: url('./images/1.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;
    font-size:40px;
    text-align:center;
    padding-bottom: auto;
}

.content-containter{
    height: 100%;
    padding-top: 28vh;
    padding-left: 10vw;
    padding-right: 10vh;
    padding-bottom: 10vw;
}

.mobile-photo, .mobile-content {
    display: none;
}


a {
    text-decoration: inherit;
}

.hello {
    text-align: left;
    font-size: 58px;
    font-family: 'opensans';
    line-height: 4rem;
    margin-bottom: 4vh;
}

.content, .work {
    max-width:612px;
    text-align: left;
    line-height: 24px;
    font-size: 19px;
    font-family: 'roboto';
    margin-bottom: 4vh;
}

.work {
    background-image: url('./images/arrow.png');
    background-repeat: no-repeat;
    background-position-x: 366px;
    background-position-y: center;
}

.buttons-container{
    text-align: left;
}

.portfolio {
    width: 30px;
    height: 20px;
    margin-left: 16px;
    border: none;
    cursor: pointer;
    background: transparent;
}

.button {
    cursor: pointer;
    width: 207px;
    height: 59px;
    border-radius: 4px;
    border: none;
    font-family: 'robobold';
    font-size: 16px;
    text-align: left;
    padding-left: 16px;
    margin-right: 17px;
    background-repeat: no-repeat;
    background-position-x: 152px;
    background-position-y: center;
}

.mail {
    background-color: #FFEE23;
    background-image: url('./images/mail.png');
    color: black;
}
.mail:hover {
    background-color: #d3bc0f;
}
.vk {
    background-color: #FF0956;
    background-image: url('./images/vk.png');
    color: white;
}
.vk:hover {
    background-color: #c8114a;
}
.inst {
    background-color: #1CA5CC;
    background-image: url('./images/inst.png');
    color: white;
}
.inst:hover {
    background-color: #0087ae;
}

.mobile, .tablet {
    display: none;
    background-position-x: center;
    background-position-y: center;
}

.tablet {
    width: 166px;
    height: 56px;
}


@media (max-width: 1200px) {
    .container-main{
        background-image: url('./images/2.png');
        background-repeat: no-repeat;
        background-position: right;
        background-attachment: fixed;
        overflow: visible;
        height: unset;
        /*font-size:30px;*/
    }

    .content-containter{
        padding-top: 30vh;
        height: -webkit-fill-available;
        /*padding-left: 0px;*/
    }

    .hello {
        font-size: 46px;
        margin-bottom: 2vh;
    }

    .content, .work {
        font-size: 16px;
        margin-bottom: 2vh;
    }
    .work {
        background-position-x: 310px;
    }
}

@media (max-width: 1024px) {
    .container-main{
        background-image: url('./images/2.png');
        background-repeat: no-repeat;
        background-position: right;
        background-attachment: fixed;
        /*overflow: visible;*/
        /*height: unset;*/
        /*font-size:30px;*/
    }

    .content-containter{
        height: 100%;
        padding-top: 38vh;
        padding-left: 2vw;
    }

    .desktop {
        display: none;
    }

    .tablet {
        display: unset;
    }
    .work {
        background-position-x: 310px;
    }
}
/*@media (max-height: 1024px) {*/
    /*.content-containter{*/
        /*height: 100%;*/
        /*padding-top: 34vh;*/
        /*!*padding-left: 6vw;*!*/
    /*}*/
/*}*/

@media (max-width: 800px) {
    .content-containter{
        /*height: 100%;*/
        padding-top: 48vh;
        padding-left: 6vw;
    }
    .hello {
        line-height: 52px;
    }
    .work {
        background-position-x: 310px;
    }
}

@media (max-width: 415px) {
    .container-main{
        background: black;
        overflow: visible;
        height: unset;
        font-size:30px;
    }

    .content-containter{
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .tablet {
        display: none;
    }

    .hello {
        font-size: 30px;
        max-width: 290px;
        line-height: 38px;
    }
    .content, .work {
        font-size: 14px;
        max-width: 290px;
    }

    .mobile {
        display: unset;
        width: 290px;
        padding-left: 64px;
        background-position-x: 206px;
        margin-bottom: 12px;
    }
    .mobile-photo {
        display: inherit;
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        background-image: url('./images/3.png');
        background-position: top;
    }

    .hello, .work, .content, .buttons-container {
        margin-left: auto;
        margin-right: auto;
    }
    .portfolio {
        width: 16px;
        padding: 0px;

    }
    .work {
        height: 32px;
        background-position-x: 262px;
    }
    .buttons-container {
        width: 290px;
    }
    .desktop-content {
        display: none;
    }
    .mobile-content {
        display: inherit;
    }
}

